.column {
  width: auto;
  float: left;
}

.image_container {
  background-color: #999;
  width: 200px;
  height: 800px;
  display: inline-block;
  overflow: hidden;
}
.image_container img {
  width: 100%;
}

.puppy {
  border: 5px solid blue;
  padding: 10px;
  background-color: lightblue; 
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
}

.llama {
  border: 5px dotted yellowgreen;
  background-color: lightgoldenrodyellow;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
 

}

.kitten {
  border: 5px dashed rgb(255, 0, 170);
  background-color: lightpink;
  display: block;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
}